{% extends 'base.html.twig' %}

{% block title %}Wild Circus Company{% endblock %}

{% block body %}

    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel carousel-fade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-background d-flex justify-content-center">
                            <img src="https://cdn.pixabay.com/photo/2015/07/02/10/16/circus-828680_960_720.jpg" alt="">
                        </div>
                        <div class="carousel-container d-flex justify-content-center align-items-center">
                            <div class="carousel-content text-center">
                                <h2>Une expérience inoubliable</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a href="{{ path('event_index') }}" class="btn-get-started scrollto m-2">Découvrir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="events">
        <div class="container">
            <header>
                <h3>Spectacles à la une</h3>
            </header>

            <div class="row porfolio-container">
                {% for event in events %}
                    <div class="col-lg-4 col-md-6 event-item filter-app">
                        <div class="event-wrap m-0">
                            <img src="{{ event.picture }}" class="img-fluid" alt="">
                            <div class="event-info">
                                <h4><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a></h4>
                                <p class="p-2">{{ event.description|slice(0,150) }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div id="artist" class="bg-section py-5">
        <div class="container">
            <h3>Artistes à la une ...</h3>
        </div>
        <div class="container">
            <div class="row">
                {% for artist in artists %}
                    <div class="col-md-6 col-md-4 col-lg-3">
                        <div class="artists-block bottom">
                            <img src="{{artist.picture}}" class="img-responsive" alt="img">
                            <div class="artists-content text-center">
                                <h4>{{artist.name}}</h4>
                                <span>{{artist.performance}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
