{% extends 'base.html.twig' %}

{% block title %}Admin | Artiste{% endblock %}

{% block header %}
    {% include '/include/_navbar_admin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Détail de l'artiste</h2>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr>
                <th>Performance</th>
                <td>{{ artist.performance }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(artist, 'pictureFile') }}" alt="{{ artist.name }}"></td>
            </tr>
            <tr>
                <th>Spectacles</th>
                {% for event in artist.events %}
                <td>{{ event.name}}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>



        <a href="{{ path('artist_edit_admin', {'id': artist.id}) }}" class="btn-get-started m-3"><i
                    class="fas fa-pencil-alt mr-3"></i>Modifier</a>

        {{ include('artist/_delete_form.html.twig') }}

        <a href="{{ path('artist_index_admin') }}" class="btn-get-started m-3"><i class="fas fa-angle-left mr-3"></i>Retour
            à la liste</a>
    </div>
{% endblock %}
